@font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?iefix') format('eot'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}

*{
  font-family: sans-serif;
  text-decoration: none;
}

nav li a{
  color: #fff;
  font-weight: 700;
  font-size: 12px;

}

/* p { font-family: 'MyWebFont', Arial, sans-serif; } */


.backgroundImage{
  background-image: url('./Object.png');
  background-repeat: no-repeat;
  background-size: cover;

}

header, main>section{
  padding: 1rem 9rem;
 
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

main>section>div{
  /* display: flex; */
  justify-items: center;
  margin-top: 14rem;
}

main>section>div>h1{
font-weight: 700;
font-size: 120px;
margin-bottom: .5rem;

align-items: center;
color: #fff;

}

main>section span{
  color: #fff;
  margin-right: 2rem;
  font-weight: 700;
font-size: 16px;
align-items: center;

}

main>section button{
  margin-top: 3rem;
  color: #fff;
  background-color: #C271FF;
  border: none;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  box-shadow: 4px 0px 10px #cac3c3;

}


.learnSection{
  direction: flex;
  justify-content: center;
  align-items: center;
}

.learnSection>h2{
font-size: 32px;
font-weight: 700;
line-height: 40.22px;
text-align: center;
color: #C271FF;
margin: 3rem 0 5rem 0;
}

.learnSection>h2>span{
font-size: 32px;
font-weight: 300;
line-height: 40.22px;
text-align: center;
}


.tutors{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  gap: 10rem;
  text-align: center;
  color: #fff;
}

/* .tutor-img{
  border-radius: 50%;
} */

.tutors img{
  margin-bottom: 1rem;
}
.tutors h3{
  font-family: Source Sans Pro;
font-size: 18px;
font-weight: 900;
line-height: 27px;
text-align: center;


}

.tutors p{
  margin-top: .5rem;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
/* body, main{
  display: flex;
}


body{
  flex-direction: column;
}

main{
  flex-direction: row;
  flex: auto;
} */